* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






body {
  margin: auto;
  max-width: 100%;
  
    color: #2c2c2c;
  
  width: 100%;
 
}
/* header  *//* header  *//* header  *//* header  *//* header  */

/* header  *//* header  *//* header  *//* header  *//* header  */

/* section_herosection_herosection_herosection_herosection_herosection_hero */

/* section_herosection_herosection_herosection_herosection_herosection_herosection_hero */
/* articlearticlearticlearticlearticlearticlearticlearticlearticlearticlearticlearticle */




/* articlearticlearticlearticlearticlearticlearticlearticlearticlearticlearticlearticle */








